.content {
    margin-top: 50px;
}

.undecorated-link:hover {
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
}

.ng-valid.ng-dirty {
    border-color: #78FA89;
}

.circular {
    width: 128px;
    height: 128px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    background-repeat: no-repeat;
    box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

.circular img {
    opacity: 0;
    filter: alpha(opacity=0);
}

.webcam-live {
    min-width: 320px;
    min-height: 240px;
    display: block;
    padding: 4px;
    /*margin-bottom: 10px;*/
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.deckgrid[deckgrid]::before {
    /* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
    content: '4 .column.column-1-4';
    font-size: 0; /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
    visibility: hidden;
}

.deckgrid .column {
    float: left;
}

.deckgrid .column-1-4 {
    width: 25%;
}

img {
    height: auto;
    max-width: 100%;
}

.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width: 320px;
    height: 240px;
}

.col-centered {
    /*float: none;*/
    /*margin: 0 auto;*/
    text-align: center;
}

.glyphicontop {
    top: 0
}

.navbar-lower {
    top: 50px;
    width: 100%;
    z-index: 10;
}

.page-title {
    color: #ffffff;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.page-sub-title {
    color: #ffffff;
    float: left;
    height: 50px;
    padding: 15px 15px;
}

.toolbar {
    padding: 8px 0px;
    float: right !important;
}

.toolbar-btn {
    margin-left: 5px;
}

.list-group {
    margin-bottom: 0px;
}

.topMargin {
    margin-top: 10px;
}

.drop-zone {
    border: dotted 3px lightgray;
}

.drag-over {
    border: dotted 3px green;
}

.ng-aside .modal-dialog {
    min-width: 300px !important;
    max-width: 300px !important;
}
.ng-aside > .modal-dialog > .modal-content{
    background: #222222;
}


.main-menu {
    padding-top: 50px;
}

.main-menu li {
    border-bottom: 1px solid #323949;
    margin-left: 20px;
    font-size: 18px;
    padding: 12px;
}

.main-menu li a {
    color: #6F7D8C;
    text-decoration: none;
}

.main-menu li a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.main-menu li .active a {
    color: #FFFFFF;
    text-decoration: none;
}

.main-menu li .sub-nav {
    border-bottom: 0px;
    padding: 4px;
}

.main-menu a .caret {
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: top;
    border-top: 4px solid #4f5963;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
    border-top-color: #FFFFFF;
}

.main-menu li.open > a > .caret {
    border-top: none;
    border-bottom: 4px solid #4f5963;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
    border-bottom-color: #FFFFFF;
}

/*.icon:before {
    font-family: 'FontAwesome';
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    content: '\f105';
}*/

/*.main-menu li > a > span.icon {
    float: right;
    margin: 0.1em 1.7em -0.1em 0;
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}*/

/*.main-menu li > a:hover > span.icon {
    float: right;
    margin: 0.1em 0.8em -0.1em 0;
    opacity: 1;
}*/




