<section data-ng-controller="ExaminationsController" data-ng-init="initSearch()">
    <!--<div class="page-header">
        <h1>Search Examination</h1>
    </div>-->
    <div class="content-div">
    <tabset>
        <tab heading="Search Terms">
            <div class="col-md-12">
                <form name="forms.examinationForm"
                      sf-schema="schema"
                      sf-form="form"
                      sf-model="examination">
                </form>
            </div>
        </tab>
        <tab heading="Search Results" active="tabsConfig.showResults">
            <div class="list-group topMargin">
                <a data-ng-repeat="examination in examinations" data-ng-href="#!/examinations/{{examination._id}}"
                   class="list-group-item">
                    <small class="list-group-item-text">
                        <h4 class="list-group-item-heading" data-ng-bind="examination._patient.fullName"></h4>
                        <em class="text-muted">
                            <span data-ng-bind="examination.created._user.displayName"></span>
                        </em>
                        <em class="text-muted">
                            <span data-ng-bind="examination.created.time | date:'medium'"></span>
                        </em>
                    </small>
                </a>
            </div>
            <div class="alert alert-warning text-center" data-ng-hide="!examinations.$resolved || examinations.length">
                No Examinations yet, why don't you <a href="/#!/examinations/create">create one</a>?
            </div>
        </tab>
    </tabset>
    </div>
</section>
