<section data-ng-controller="PatientsController" data-ng-init="initList()">
    <div class="page-header">
        <h1>Patients</h1>
    </div>
    <div class="content-div">
    <div class="list-group">
        <a data-ng-repeat="patient in patients" data-ng-href="#!/patients/{{patient._id}}" class="list-group-item">
			<h4 class="list-group-item-heading" data-ng-bind="patient.fullName"></h4>
        </a>
    </div>
    <pagination ng-hide="!paginationConfig.showPagination" total-items="paginationConfig.totalItems" ng-model="paginationConfig.currentPage" ng-change="pageChanged()"  max-size="paginationConfig.maxSize" items-per-page="paginationConfig.pageSize" class="pagination-sm" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
    </pagination>
    <ul ng-hide="!paginationConfig.showPagination" class="pagination-sm pagination">
        <li ng-repeat="item in paginationConfig.pageSizeOptions" ng-class="{active: isPageSizeOptionSelecetd(item), disabled:!isPageSizeOptionEnabled(item)}" >
            <a href="" ng-click="selectPageSizeOption(item)">{{item}}</a>
        </li>
    </ul>
    <div class="alert alert-warning text-center" data-ng-hide="!patients || patients.length">
    	No Patients yet, why don't you <a href="/#!/patients/create">create one</a>?
    </div>
    </div>
</section>