<section data-ng-controller="ManageUsersController" data-ng-init="findOne()">
    <div class="page-header">
        <h1 data-ng-bind="manageUser.fullName"></h1>
    </div>
    <div class="pull-right" >
        <h-care-edit-button href="/#!/manage-users/{{manageUser._id}}/edit"  action="edit_user"></h-care-edit-button>
        <h-care-del-button del-message="Are you sure to delete {{manageUser.email}} user?" hcare-del-click="remove()" action="delete_user"></h-care-del-button>
    </div>
    <p class="list-group-item-text">
        <em class="text-muted">
            <strong>Email: </strong>
            {{manageUser.email}}
        </em>
    </p>
    <p class="list-group-item-text">
        <em class="text-muted">
            <strong>Display Name: </strong>
            {{manageUser.displayName}}
        </em>
    </p>
    <p class="list-group-item-text">
        <em class="text-muted">
            <strong>Role: </strong>
            {{manageUser._role.name}}
        </em>
    </p>
</section>