<section data-ng-controller="RolesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Edit Role</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="role.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="modules">Modules</label>
                    <div class="controls">
                        <div class="btn-group" data-toggle="buttons" id="modules">
                            <label class="btn btn-primary" ng-class="{active:_.where(role_actions, {_module:module._id}).length>0}"
                                   ng-repeat="module in modules">
                                <input type="checkbox"
                                       value="{{module.name}}"
                                       ng-checked="_.where(role_actions, {_module:module._id}).length>0"
                                       ng-click="toggleModuleSelection(module)">{{module.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-show="selected_module">
                    <label class="control-label" for="actions">{{selected_module.name}} Actions</label>
                    <div class="controls">
                        <div class="btn-group" data-toggle="buttons" id="actions">
                            <label class="btn btn-primary" ng-class="{active:role_actions.indexOf(action) > -1}"
                                   ng-repeat="action in actions">
                                <input type="checkbox"
                                       value="{{action.name}}"
                                       ng-checked="role_modules.indexOf(action) > -1"
                                       ng-click="toggleActionSelection(action)">{{action.name}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>