<section data-ng-controller="RolesController" data-ng-init="initView()">
	<div class="page-header">
		<h1 data-ng-bind="role.name"></h1>
	</div>
    <p data-ng-repeat="module in _.findByValuesInPath(actionsObj.modules, '_id', _.findByValues(actionsObj.all_actions, '_id', role._actions), '_module')" class="list-group-item-text">
        <em class="text-muted">
            <strong>{{module.name}}: </strong>
            {{_.map(_.where(_.findByValues(actionsObj.all_actions, '_id', role._actions), {_module:module._id}), 'name').join(', ')}}
            <br/>
        </em>
    </p>

</section>
